.default-content-wrapper h2 {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}


.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width:95vw;
    overflow: hidden;
    margin: 4rem auto 0 0;
}


.product-item {
    width: calc(20% - 10px); /* 5 items per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 300px;
    justify-content: space-between;
    max-width: 200px; /* Prevents items from stretching */
}
.pname {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 90%;
}
.pimage {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
}


.product-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: auto; 
}

.add-to-cart-btn {
    flex: 1; /* Makes buttons equal width */
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #22069c;
}

.wishlist-icon {
    width: 30px;
    height: 21px;
    cursor: pointer;
    filter: invert(30%);
    transition: transform 0.2s ease-in-out;
    justify-self: center;
    margin-top: 1rem;
}

.wishlist-icon:hover {
    transform: scale(1.2);
}

.dots-container {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    justify-content: center;
}

.dot {
    width: 18px;
    height: 18px;
    background: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.dot.active {
    background: black;
}

@media (max-width: 900px) {
    .product-item {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 600px) {
    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .product-item {
        width: calc(33.33% - 10px); 
        max-width: 180px; 
    }
    .pimage {
        max-width: 140px;
    }
    .add-to-cart-btn {
        padding: 6px 12px; 
        font-size: 0.7rem;
        border-radius: 1.5rem; 
    }
}


@media (max-width: 360px) {
    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .product-item {
        width: calc(50% - 5px);
        max-width: 150px; 
    }
    .pimage {
        max-width: 120px;
    }
    .add-to-cart-btn {
        padding: 4px 10px; 
        font-size: 0.65rem; 
        border-radius: 1.2rem;
    }
}

